/* media query */

/* for 1125px  */
@media screen and (max-width:1125px){

    body #menu{
        width: 1125px;
        height: 80px;
        position: fixed;
        box-shadow: 3px 0px 15px grey;
        margin-top: -5px;
        background-image: linear-gradient(to left,#fc00ff,#00dbde);
        overflow: hidden;
    }
    #menu .m1{
        margin: 0px;
        margin-left: 15px;
    }
    .m1 a{
        font-size: 20px;
        text-decoration: none;
        color:white;
        padding: 12px;
        line-height: 75px;
        letter-spacing: 3px;
    }
    #menu .m2{
        float: right;
        display: block;
        word-spacing: -6px;
    }
    .m2 a{
        font-size: 20px;
        text-decoration: none;
        color:white;
        padding: 12px;
        line-height: 70px;
        letter-spacing: 3px;
    }
    .m1 a:hover{
        background-color: rgb(209, 205, 205);
        cursor: pointer;
        transition: .3s;
        color: white;
    }

    #about{
        width: 1125px;
        height: 550px;
        background-color: whitesmoke;
        padding-top: 130px;
        text-align: center;
        /* background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%); */
    }
    .abt_head{
        font: var(--font_6);
        font-size: 50px;
        color: rgb(129, 127, 127);
        font-weight: bold;
        font-style: italic;
    }
    
    .image{
        width: 35%;
        float: left;
        text-align: center;
    }
    .img1{
        width: 300px;
        height: 280px;
        border-radius: 50%;
        padding: 20px;
        background-image: linear-gradient(to right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        animation: sir 5s infinite ;
    }
    @keyframes sir{
        0%{
            /* background-image: linear-gradient(to right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde); */
            background-image: linear-gradient(to right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
        20%{
            /* background-image: linear-gradient(to right,#ffeb07,#2196f3,#ff00eb,#00dbde,#f32170); */
            background-image: linear-gradient(to top right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
        40%{
            /* background-image: linear-gradient(to right,#2196f3,#ff00eb,#00dbde,#f32170,#ffeb07); */
            background-image: linear-gradient(to top left,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
        60%{
            /* background-image: linear-gradient(to right,#ff00eb,#00dbde,#f32170,#ffeb07,#2196f3); */
            background-image: linear-gradient(to bottom left,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
        80%{
            /* background-image: linear-gradient(to right,#00dbde,#f32170,#ffeb07,#2196f3,#ff00eb); */
            background-image: linear-gradient(to bottom right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
        100%{
            /* background-image: linear-gradient(to right,#00dbde,#f32170,#ffeb07,#2196f3,#ff00eb); */
            background-image: linear-gradient(to right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
    }
    .image img{
        width: 300px;
        height: 280px;
        border-radius: 50%;
    }
    .per_dlt{
        margin-top: 30px;
        font-family: 'Koh Santepheap', cursive;
    }
    .post{
        margin-top: 10px;
        font-family: 'Koh Santepheap', cursive;
    }
    
    .content{
        width: 65%;
        float: left;
    }
    
    .content p{
        font-size: 20px;
        text-align: left;
        text-align: justify;
        margin: 40px 40px 0px 0px ;
        line-height: 30px;
        font-family: 'Koh Santepheap', cursive;
        color: rgb(119, 119, 119);
    }
    
    #academic{
        width: 1125px;
        text-align: center;
        background: linear-gradient(to right, #f7ff04, #ff05ac);
        padding: 50px 0px 30px 0px;
    }
    #academic h1{
        margin: 30px 0px 60px 0px;
        color: white;
        font: var(--font_6);
        font-size: 50px;
    }
    .edt{
        width: 70%;
        margin-left: 15%;
        margin-bottom: 50px;
    }
    .college{
        margin: 20px 0px 10px 0px;
        color: white;
    }
    .dispt{
        font-size: 20px;
        font-family: 'Koh Santepheap', cursive;
        color: rgb(88, 87, 87);
    }
    
    #expn{
        width: 1125px;
        padding: 40px 0px 40px 0px;
        background:url("../image/img2.jpg");
        background-size: cover;
    }
    .expn_head{
        font-size: 40px;
        margin: 30px 0px 50px 0px;
        font-family: 'Ephesis', cursive;
        text-align: center;
        color: white;
    }
    .expn_div{
        width: 60%;
        /* margin-left: 20%; */
        font-size: 22px;
        margin: 35px 0px 35px 16%;
        padding: 60px;
        background-color: #000000b8;
        border-radius: 0px 50px 0px 50px;
        color: whitesmoke;
    }
    
    #skill{
        width: 1125px;
        background-image: url("../image/img3.jpg");
        background-size: cover;
        background-attachment: fixed;
        color: wheat;
        padding: 40px 0px 50px 0px;
    }
    #skill h1{
        margin: 30px 0px 40px 0px;
        text-align: center;
        font: var(--font_6);
        font-size: 50px;   
    }
    .skls{
        width: 90%;
        margin: 30px 0px 20px 5%;
        font-size: 25px;
    }
    
    #contact{
        height: 470px;
        width: 1125px;
        padding: 40px 0px 60px 0px;
    }
    #contact h1{
        text-align: center;
        font-size: 40px;
        margin: 30px 0px 60px 0px;
        color: tomato;
    }
    .container{
        width: 50%;
        float: left;
        text-align: center;
    }
    input[type=text],input[type=email],textarea {
        width: 75%;
        padding: 12px;
        margin-top: 6px;
        margin-bottom: 16px;
        border: hidden;
        background-color: teal;
        border-radius: 0px 20px 0px 20px;
      }
    ::placeholder{
        color: rgb(255, 120, 96);
        font-size: 16px;
    }
      input[type=submit] {
        background-color: tomato;
        color: white;
        font-size: 18px;
        padding: 12px 25px 12px 25px;
        border: none;
        display: block;
        cursor: pointer;
        margin-left: 11%;
        border-radius: 0px 20px 0px 20px;
      }
    
      .map{
          width: 50%;
          float: left;
      }
      .map1{
        width:450px; 
        height:320px;
        border: 2px solid gray;
      }
    
      footer{
          width: 1125px;
          height: 60px;
          background-color: black;
          overflow: hidden;
          color: white;
          padding: 80px 0px 60px 0px;
      }
      .link1{
          width: 25%;
          float: left;
          text-align: center;   
      }
      .link2{
        width: 33%;
        float: left;  
    }
    .link3{
        width: 42%;
        float: left;
        text-align: center;   
    }
    .number {
        font-size: 25px;
    }
    .number .fa{
        font-size: 30px;
        color: rgb(18, 131, 18);
    }
    .email{
        font-size: 25px;
        margin-left: 0px;
    }
    .email .fa{
        font-size: 30px;
    }
    .download{
        width: 160px;
        height: 45px;
        font-size: 18px;
        text-decoration: none;
        background: linear-gradient(to right,#f32170,#dfcd0b,#2196f3);
        border-radius: 5px;
        color:white;
        float: right;
        text-align: center;
        line-height: 45px;
    }
    .download:hover{
        transform: scale(1.2);
        transition: .3s;
    }
    
    .icon .fa{
        width: 60px;
        height: 50px;
        background-color: rgb(48, 46, 46);
        font-size: 50px;
        margin: 0px 10px 0px 10px;
        cursor: pointer;
        border-radius: 5px;
        color: black;
    }
    
    .icon .fa-facebook:hover{
        background-color: rgb(29, 29, 214);
        color: white;
        transition: .4s;
    
    }
    .icon .fa-linkedin:hover{
        background-color: rgb(11, 11, 100);
        color: white;
        transition: .4s;
    }
    .icon .fa-twitter:hover{
        background-color: rgb(44, 44, 170);
        color: white;
        transition: .4s;
    }
    .icon .fa-instagram:hover{
        background-color: rgb(233, 67, 17);
        color: white;
        transition: .4s;
    }
}

/* for 768px (tablet) */
@media screen and (max-width:768px){
    .class
    {
    background: linear-gradient(to right,#f32170,#ffeb07,#2196f3,#ff00eb);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    }
    body #menu{
        width: 768px;
        height: 80px;
        position: fixed;
        box-shadow: 3px 0px 15px grey;
        margin-top: -5px;
        background-image: linear-gradient(to left,#fc00ff,#00dbde);
        overflow: hidden;
    }
    #menu .m1{
        margin: 0px;
        margin-left: 15px;
    }
    .m1 a{
        font-size: 20px;
        text-decoration: none;
        color:white;
        padding: 12px;
        line-height: 75px;
        letter-spacing: 3px;
    }
    #menu .m2{
        float: right;
        display: block;
        word-spacing: -6px;
    }
    .m2 a{
        font-size: 20px;
        text-decoration: none;
        color:white;
        padding: 12px;
        line-height: 70px;
        letter-spacing: 3px;
    }
    .m1 a:hover{
        background-color: rgb(209, 205, 205);
        cursor: pointer;
        transition: .3s;
        color: white;
    }
    

     /* for second section */
     #about{
        width: 768px;
        height: 560px;
        background-color: whitesmoke;
        padding-top: 130px;
        text-align: center;
        /* background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%); */
    }
    .abt_head{
        font: var(--font_6);
        font-size: 50px;
        color:rgb(129, 127, 127);
        font-weight: bold;
        font-style: italic;
    }
    
    .image{
        width: 30%;
        float: left;
        text-align: center;
    }
    .image .img1{
        width: 230px;
        height: 210px;
        border-radius: 50%;
        padding: 20px;
        background-image: linear-gradient(to right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        animation: sir 5s infinite ;
        text-align: center;
        margin-top: 10px;
        margin-left: 5px;
    }
    @keyframes sir{
        0%{
            /* background-image: linear-gradient(to right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde); */
            background-image: linear-gradient(to right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
        20%{
            /* background-image: linear-gradient(to right,#ffeb07,#2196f3,#ff00eb,#00dbde,#f32170); */
            background-image: linear-gradient(to top right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
        40%{
            /* background-image: linear-gradient(to right,#2196f3,#ff00eb,#00dbde,#f32170,#ffeb07); */
            background-image: linear-gradient(to top left,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
        60%{
            /* background-image: linear-gradient(to right,#ff00eb,#00dbde,#f32170,#ffeb07,#2196f3); */
            background-image: linear-gradient(to bottom left,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
        80%{
            /* background-image: linear-gradient(to right,#00dbde,#f32170,#ffeb07,#2196f3,#ff00eb); */
            background-image: linear-gradient(to bottom right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
        100%{
            /* background-image: linear-gradient(to right,#00dbde,#f32170,#ffeb07,#2196f3,#ff00eb); */
            background-image: linear-gradient(to right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
    }
    .img1 img{

        width: 230px;
        height: 210px;
        border-radius: 50%;
    }
    .per_dlt{
        margin-top: 20px;
        font-family: 'Koh Santepheap', cursive;
    }
    .post{
        margin-top: 10px;
        font-family: 'Koh Santepheap', cursive;
    }
    
    .content{
        width: 70%;
        float: left;
    }
    
    .content p{
        font-size: 18px;
        text-align: left;
        text-align: justify;
        margin: 40px 10px 0px 60px ;
        line-height: 30px;
        font-family: 'Koh Santepheap', cursive;
        color: rgb(119, 119, 119);
    }

    /* for third section  */
    #academic{
        width: 768px;
        text-align: center;
        background: linear-gradient(to right, #f7ff04, #ff05ac);
        padding: 50px 0px 30px 0px;
    }
    #academic h1{
        margin: 30px 0px 60px 0px;
        color: white;
        font: var(--font_6);
        font-size: 50px;
    }
    .edt{
        width: 70%;
        margin-left: 15%;
        margin-bottom: 50px;
    }
    .college{
        margin: 20px 0px 10px 0px;
        color: white;
    }
    .dispt{
        font-size: 20px;
        font-family: 'Koh Santepheap', cursive;
        color:rgb(88, 87, 87);
    }
    
    /* for four section */
    body #expn{
        width: 768px;
        padding: 40px 0px 40px 0px;
        background:url("../image/img2.jpg");
        background-size: cover;
    }
    .expn_head{
        font-size: 40px;
        margin: 30px 0px 50px 0px;
        font-family: 'Ephesis', cursive;
        text-align: center;
        color: white;
    }
    .expn_div{
        width: 60%;
        /* margin-left: 20%; */
        font-size: 22px;
        margin: 35px 0px 35px 16%;
        padding: 60px;
        background-color: #000000b8;
        border-radius: 0px 50px 0px 50px;
        color: whitesmoke;
    }
    
     /* for five section */
     body #skill{
        width: 768px;
        background-image: url("../image/img3.jpg");
        background-size: cover;
        background-attachment: fixed;
        color: wheat;
        padding: 40px 0px 50px 0px;
    }
    #skill h1{
        margin: 30px 0px 40px 0px;
        text-align: center;
        font: var(--font_6);
        font-size: 50px;   
    }
    .skls{
        width: 90%;
        margin: 30px 0px 20px 5%;
        font-size: 25px;
    }
    

     /* for footer section */
     body #contact{
        height: 790px;
        width: 768px;
        padding: 40px 0px 60px 0px;
    }
    #contact h1{
        text-align: center;
        font-size: 40px;
        margin: 30px 0px 60px 0px;
        color: tomato;
    }
    .container{
        width: 100%;
        float: left;
        text-align: center;
    }
    input[type=text],input[type=email],textarea {
        width: 60%;
        padding: 12px;
        margin-top: 6px;
        border: hidden;
        background-color: teal;
        border-radius: 0px 20px 0px 20px;
      }
      ::placeholder{
        color: rgb(255, 120, 96);
        font-size: 16px;
    }
    
      input[type=submit] {
        background-color: tomato;
        color: white;
        font-size: 18px;
        padding: 12px 20px 12px 20px;
        border: none;
        border-radius: 0px 20px 0px 20px;
        display: block;
        cursor: pointer;
        margin-left: 18.5%;
        margin-bottom: 20px;
      }
    
      .map{
          width: 100%;
          float: left;
          text-align: center;
      }
    
      footer{
          width: 768px;
          height: 50px;
          background-color: black;
          overflow: hidden;
          color: white;
          padding: 80px 0px 60px 0px;
      }
      .link1{
        width: 25%;
        float: left;
        text-align: center;   
    }
    .link2{
      width: 34%;
      float: left;
      text-align: center;   
  }
  .link3{
      width: 41%;
      float: left; 
  }
    .number {
        font-size: 20px;
    }
    .number .fa{
        font-size: 25px;
        color: rgb(18, 131, 18);
    }
    .email{
        font-size: 20px;
        margin-left: 0px;
    }
    .email .fa{
        font-size: 25px;
    }
    .download{
        width: 160px;
        height: 45px;
        font-size: 18px;
        text-decoration: none;
        background: linear-gradient(to right,#f32170,#dfcd0b,#2196f3);
        border-radius: 5px;
        color:white;
        float: right;
        text-align: center;
        line-height: 45px;
    }
    .download:hover{
        transform: scale(1.2);
        transition: .3s;
    }

    .icon .fa{
        width: 35px;
        height: 35px;
        background-color: rgb(48, 46, 46);
        font-size: 30px;
        margin: 0px 8px 0px 8px;
        cursor: pointer;
        border-radius: 5px;
        color: black;
    }
    
    .icon .fa-facebook:hover{
        background-color: rgb(29, 29, 214);
        color: white;
        transition: .4s;
    
    }
    .icon .fa-linkedin:hover{
        background-color: rgb(11, 11, 100);
        color: white;
        transition: .4s;
    }
    .icon .fa-twitter:hover{
        background-color: rgb(44, 44, 170);
        color: white;
        transition: .4s;
    }
    .icon .fa-instagram:hover{
        background-color: rgb(233, 67, 17);
        color: white;
        transition: .4s;
    }
}


/* for 425px (mobile) */
@media screen and (max-width:425px){
    body #menu{
        width:425px;
        height: 80px;
        position: fixed;
        box-shadow: 3px 0px 15px grey;
        margin-top: -5px;
        background-image: linear-gradient(to left,#fc00ff,#00dbde);
        overflow: hidden;
    }
    #menu .m1{
        margin-left: 10px;
    }
    .m1 a{
        font-size: 20px;
        text-decoration: none;
        color: white;
        padding: 12px;
        line-height: 75px;
        letter-spacing: 3px;
    }
    #menu .m2{
        float: right;
        display: block;
        word-spacing: -6px;
    }
    .m2 a{
        font-size: 20px;
        text-decoration: none;
        color: black;
        padding: 12px;
        line-height: 70px;
        letter-spacing: 3px;
    }
    #phone{
        position: fixed;
        z-index: 3;
        background-image: linear-gradient(to left,#fc00ff,#00dbde); 
        margin-top: 75px;
        border-top: 2px solid black;
        width: 100%;
        padding: 5px 0px 15px 0px;
        display: none;
    }
    #phone a{
        display: block;
        text-decoration: none;
        line-height: 40px;
        margin-left: 30px;
        font-size: 18px;
        color: white;
    }
    .menu_icon{
        display: inline;
        margin-top: 10px;
        font-size: 35px;
        display: inline;
   }
   .menu_icon .fa{
       color: white;
       float: right;
       cursor: pointer;
       margin: 23px 30px 0px 0px;
   }
    

     /* for second section */
     #about{
        width: 425px;
        height: 1000px;
        background-color: whitesmoke;
        padding-top: 100px;
        text-align: center;
        /* background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%); */
    }
    .abt_head{
        font: var(--font_6);
        font-size: 40px;
        color: rgb(129, 127, 127);
        font-weight: bold;
        font-style: italic;
    }
    
    .image{
        width: 100%;
        float: left;
        text-align: center;
        color: rgb(161, 160, 158);
    }
    .image .img1{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        padding: 20px;
        margin-top: 15px;
        margin-left: 5px;
        background-image: linear-gradient(to right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        animation: sir 5s infinite ;
    }
    @keyframes sir{
        0%{
            /* background-image: linear-gradient(to right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde); */
            background-image: linear-gradient(to right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
        20%{
            /* background-image: linear-gradient(to right,#ffeb07,#2196f3,#ff00eb,#00dbde,#f32170); */
            background-image: linear-gradient(to top right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
        40%{
            /* background-image: linear-gradient(to right,#2196f3,#ff00eb,#00dbde,#f32170,#ffeb07); */
            background-image: linear-gradient(to top left,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
        60%{
            /* background-image: linear-gradient(to right,#ff00eb,#00dbde,#f32170,#ffeb07,#2196f3); */
            background-image: linear-gradient(to bottom left,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
        80%{
            /* background-image: linear-gradient(to right,#00dbde,#f32170,#ffeb07,#2196f3,#ff00eb); */
            background-image: linear-gradient(to bottom right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
        100%{
            /* background-image: linear-gradient(to right,#00dbde,#f32170,#ffeb07,#2196f3,#ff00eb); */
            background-image: linear-gradient(to right,#f32170,#ffeb07,#2196f3,#ff00eb,#00dbde);
        }
    }
    .img1 img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    .per_dlt{
        margin-top: 15px;
        font-family: 'Koh Santepheap', cursive;
    }
    .post{
        margin-top: 10px;
        font-family: 'Koh Santepheap', cursive;
    }
    
    .content{
        width:100%;
        float: left;
    }
    
    .content p{
        font-size: 18px;
        text-align: left;
        text-align: justify;
        margin: 20px 20px 0px 20px ;
        line-height: 30px;
        font-family: 'Koh Santepheap', cursive;
    }

    /* for third section  */
    #academic{
        width: 425px;
        text-align: center;
        background: linear-gradient(to right, #f7ff04, #ff05ac);
        padding: 30px 0px 20px 0px;
    }
    #academic h1{
        margin: 30px 0px 60px 0px;
        color: white;
        font: var(--font_6);
        font-size: 40px;
    }
    .edt{
        width: 70%;
        margin-left: 15%;
        margin-bottom: 50px;
    }
    .college{
        margin: 20px 0px 10px 0px;
        color: white;
    }
    .dispt{
        font-size: 20px;
        font-family: 'Koh Santepheap', cursive;
        color: rgb(88, 87, 87);
    }
    
    /* for four section */
body #expn{
    width: 425px;
    padding: 30px 0px 30px 0px;
    background:url("../image/img2.jpg");
    background-size: cover;
}
.expn_head{
    font-size: 40px;
    margin: 30px 0px 30px 0px;
    font-family: 'Ephesis', cursive;
    text-align: center;
    color: white;
}
.expn_div{
    width: 80%;
    /* margin-left: 20%; */
    font-size: 22px;
    margin: 40px 0px 40px 20px;
    padding: 30px 10px 30px 30px;
    background-color: #000000b8;
    border-radius: 0px 50px 0px 50px;
    color: whitesmoke;
}
    
    
     /* for five section */
     body #skill{
        width:425px;
        background-image: url("../image/img3.jpg");
        background-size: cover;
        background-attachment: fixed;
        color: wheat;
        padding: 40px 0px 50px 0px;
    }
    #skill h1{
        margin: 30px 0px 40px 0px;
        text-align: center;
        font: var(--font_6);
        font-size: 50px;   
    }
    .skls{
        width: 90%;
        margin: 30px 0px 20px 5%;
        font-size: 23px;
    }
    

     /* for footer section */
     body #contact{
        height: 730px;
        width: 425px;
        padding: 20px 0px 60px 0px;
    }
    #contact h1{
        text-align: center;
        font-size: 40px;
        margin: 30px 0px 60px 0px;
        color: tomato;
    }
    .container{
        width: 100%;
        float: left;
        text-align: center;
    }
    input[type=text],input[type=email],textarea {
        width: 60%;
        padding: 12px;
        margin-top: 6px;
        margin-bottom: 16px;
        border: hidden;
        background-color: teal;
        border-radius: 0px 20px 0px 20px;
      }
      ::placeholder{
        color: rgb(255, 120, 96);
        font-size: 16px;
    }
    
      input[type=submit] {
        background-color: tomato;
        color: white;
        font-size: 18px;
        padding: 12px 20px 12px 20px;
        border: none;
        display: block;
        cursor: pointer;
        margin-left: 18.5%;
        margin-bottom: 20px;
        border-radius: 0px 20px 0px 20px;
      }
      
      .map{
          width: 100%;
          float: left;
          text-align: center;
      }
      .map1{
        width:80%;
        margin-left: 4%;
        height: 250px;
        border: 2px solid gray;
      }
    
      footer{
          width: 425px;
          height: 110px;
          background-color: black;
          overflow: hidden;
          color: white;
          padding: 20px 0px 30px 0px;
      }
      .link1{
        width: 425px;
        float: left;
        text-align: center;  
        margin-bottom: 10px; 
    }
    .link2{
      width: 425px;
      float: left;
      text-align: center; 
      margin-bottom: 8px;  
  }
  .link3{
      width: 425px;
      float: left;
      text-align: center;   
  }
    .number {
        font-size: 20px;
    }
    .number .fa{
        font-size: 25px;
        color: rgb(18, 131, 18);
    }
    .email{
        font-size: 20px;
    }
    .email .fa{
        font-size: 25px;
    }
    .download{
        width: 160px;
        height: 45px;
        font-size: 18px;
        margin-top: -20px;
        text-decoration: none;
        background: linear-gradient(to right,#f32170,#dfcd0b,#2196f3);
        border-radius: 5px;
        color:white;
        float: right;
        text-align: center;
        line-height: 45px;
    }
    
    .icon .fa{
        width: 35px;
        height: 35px;
        background-color: rgb(48, 46, 46);
        font-size: 30px;
        margin: 0px 8px 0px 8px;
        cursor: pointer;
        border-radius: 5px;
        color: black;
    }
    
    .icon .fa-facebook{
        background-color: rgb(29, 29, 214);
        color: white;
        transition: .4s;
        line-height: 37px;
    }
    .icon .fa-linkedin{
        background-color: rgb(23, 23, 161);
        color: white;
        transition: .4s;
        line-height: 37px;
    }
    .icon .fa-twitter{
        background-color: rgb(44, 44, 170);
        color: white;
        transition: .4s;
        line-height: 37px;
    }
    .icon .fa-instagram{
        background-color: rgb(233, 67, 17);
        color: white;
        transition: .4s;
        line-height: 37px;
    }
}